<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tipbot Leaderboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .tab {
            padding-left: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Tipbot Leaderboard</h1>
    <h2><a href="#" data-toggle="tooltip" title="{{my_stats['06_top_10_tippers'].description}}">{{my_stats['06_top_10_tippers'].name}}: </a></h2>
    {% for dict in my_stats['06_top_10_tippers']['value'] %}
    <p><span class="tab">{{dict['from_user']}}: {{dict['fiat']}} {{dict['total_fiat']}}</p>
    {% endfor %}
    <h2><a href="#" data-toggle="tooltip" title="{{my_stats['07_top_10_tips'].description}}">{{my_stats['07_top_10_tips'].name}}: </a></h2>
    {% for dict in my_stats['07_top_10_tips']['value'] %}
    <p><span class="tab">{{dict['from_user']}} -> {{dict['to_user']}}: {{dict['coin_val']}} ({{dict['fiat']}} {{dict['fiat_val']}})</p>
    {% endfor %}
    <h2><a href="#" data-toggle="tooltip" title="{{my_stats['07a_top_5_tips_rdd'].description}}">{{my_stats['07a_top_5_tips_rdd'].name}}: </a></h2>
    {% for dict in my_stats['07a_top_5_tips_rdd']['value'] %}
    <p><span class="tab">{{dict['from_user']}} -> {{dict['to_user']}}: {{dict['coin_val']}} ({{dict['fiat']}} {{dict['fiat_val']}})</p>
    {% endfor %}
    <h2><a href="#" data-toggle="tooltip" title="{{my_stats['08_top_10_receivers'].description}}">{{my_stats['08_top_10_receivers'].name}}: </a></h2>
    {% for dict in my_stats['08_top_10_receivers']['value'] %}
    <p><span class="tab">{{dict['to_user']}}: ({{dict['fiat']}} {{dict['total_fiat']}})</p>
    {% endfor %}
</div>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

</body>
</html>